.container{
  background-color:#E6E6FA;
  margin-right: auto;
  margin-left : auto;
  max-width: 600px;
  .room{
    .day{
      margin:0 auto;
      width: 100px;
      .title{
        text-align: center;
        padding: 2px;
        font-size: 10px;
        line-height: 14px;
        border-radius: 7px;
        background-color:#CFCFDF;
        min-height: 14px;
      }
    }
    .other{
      .icon{
        float:left;
        max-width:  40px;
        border-radius: 50%;
        margin-left: 5px;
        + .say{
        }
      }
      .say{
        margin-right: 80px;
        margin-left: 50px;
        float: none;
        min-height: 40px;
        background-color: #FFFFFF; 
        padding: 7px;
        border-radius: 10px;
        word-wrap: break-word;
      }
    }
    .self{
      .icon{
        float:right;
        max-width: 40px;
        border-radius: 50%;
        margin-right: 5px;
      }
      .say{
        margin-right: 50px;
        margin-left: 80px;
        float: none;
        min-height: 40px;    
        background-color: #98FB98; 
        padding: 7px;
        border-radius: 10px;
        word-wrap: break-word;
      }
    }
  }
}
